<div id="<%= dom_id post %>" class="card bg-dark text-white my-4">
  <div class="card-header">
    <h4 class="mb-0"><%= post.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= post.content %></p>
  </div>
</div>
