<footer class="text-muted py-4 bg-dark text-white-50 mt-5">
  <div class="container">
    <p class="float-right">
      <a href="#" class="text-white">トップへ戻る</a>
    </p>
    <p>&copy; <%= Time.now.year %>  UE Meeting. All rights reserved.</p>
    <p>このサイトはRuby on Railsで作成しました。</p>
    <ul class="list-unstyled">
      <li><a href="/" class="text-white">サイトについて</a></li>
      <li><a href="/" class="text-white">プライバシーポリシー</a></li>
      <li><a href="/" class="text-white">利用規約</a></li>
      <li><a href="/" class="text-white">お問い合わせ</a></li>
    </ul>
  </div>
</footer>