<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>パスワード変更</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">パスワードの変更がリクエストされました。</h2>
            <p>こんにちは、<%= @resource.email %> さん!</p>
            <p>下記のリンクからパスワードを変更できます。</p>
            <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></p>
            <p>本メールに心当たりがない場合は、このメールを破棄してください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
