<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light text-center">
        <div class="card-body">
          <h3 class="card-title">会員登録ありがとうございます！</h3>
          <p class="card-text">現在、仮会員の状態です。</p>
          <p class="card-text">ただいま、ご入力いただいたメールアドレス宛に、ご本人様確認用のメールをお送りしました。</p>
          <p class="card-text">メール本文内のURLをクリックすると本会員登録が完了となります。</p>
          <%= link_to "トップページへ", root_path, class: 'btn btn-primary mt-4' %>
        </div>
      </div>
    </div>
  </div>
</div>
